	body {
		font-family:  sans-serif;
		background-image: url(bitcoin.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
	}

	.container {
		width: 65%;
		margin: 0 auto;
		background:rgba(255, 255, 255, 0.85);
	}


	input {
		width: 250px;
		height: 30px;
		border-radius: 42px;
		border: 2px solid #324B4E;
		background: #F9F0DA;
		transition: .3s linear;		
		margin: auto;
	}

	input:focus {
		width: 300px;
	}

	output {
		width: 400px;
		margin: auto;
		position: absolute;
		font-size: 15px;
	}

	button {
		width: 130px;
		height: 40px;
		background: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%);
		/* W3C */
		border: none;
		border-radius: 5px;
		position: relative;
		border-bottom: 4px solid #2b8bc6;
		color: #fbfbfb;
		font-weight: 600;
		font-family: 'Open Sans', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
		font-size: 15px;
		text-align: left;
		text-indent: 5px;
		box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, .2);
		cursor: pointer;
		/* Just for presentation */
		display: block;
		float: left;
		margin: 11px;
	}

	button:active {
		box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .2);
		top: 3px;
	}

	button:after {
		content: "";
		width: 0;
		height: 0;
		display: block;
		border-top: 20px solid #187dbc;
		border-bottom: 20px solid #187dbc;
		border-left: 16px solid transparent;
		border-right: 20px solid #187dbc;
		position: absolute;
		opacity: 0.6;
		right: 0;
		top: 0;
		float: right;
		border-radius: 0 5px 5px 0;
	}

	.word {
		font-family: fantasy;
		font-size: 65px;
		-webkit-text-stroke: 1.5px black;
		-webkit-text-fill-color: rgb(45, 241, 255);
	}

	.labeltext{
		font-size: 20px;
		background-color : rgb(0, 0, 0);
		-webkit-background-clip : text;
	}

	hr.style-one{
		border: 0;
		height: 1px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}

	hr.style-three {
		border: 0;
		height: 0; 
		box-shadow: 0 0 10px 1px black;		
	}

	hr.style-eight {
		padding: 0;
		border: none;
		border-top: medium double #333;
		color: #333;
		text-align: center;
	}
	hr.style-eight:after {
		content: "Track~~";
		display: inline-block;
		position: relative;
		font-size: 1.5em;
		padding: 0 0.25em;

	}

	
