@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
	body {
    	    background-color:rgb(114, 241, 250);
    	    padding: 2em;
    	    font-family: 'Raleway','Source Sans Pro', 'Arial';
    	}
    	.container {
    	    width: 55%;
    	    margin: 0 auto;
    	}
    	label {
            position: relative;
            top: 20px;
    	    display:block;
    	    margin-bottom:30px;
    	}
    	
	input {
		width:250px;
		border-radius:42px;
		border:2px solid #324B4E;
		background:#F9F0DA;
		transition:.3s linear;
		float:right;
	}
	input:focus {
		width:300px;
	}
	output {
		width: 300px;
		background-color: rgb(255, 255, 255);
		padding:5px;
		margin-bottom: 1em;
	}
	button {
		width: 130px;
		height: 40px;
		  
	}

    